
<div id="map"></div>

<section class="map_controls">
  <a href="#zoom_in" class="zoom_in">zoom in</a>
  <a href="#zoom_out" class="zoom_out">zoom out</a>
</section>

<section class="tools">
  <div class="buttons">
    <a href="#draw" class="draw selected">Draw</a>
    <a href="#remove" class="remove">Remove</a>
    <a href="#signout" class="signout">Logout</a>
  </div>
</section>

<section class="tips">
  <ul>
    <li>You can remove vertex with right-clicking on them</li>
    <li>You Arce can explain something about the project</li>
  </ul>
</section>

<section class="mamufas">
  <div class="info">
    <h1>Arce h1 magic text</h1>
    <p>Arce p magic text</p>
    <a href="#" class="login"></a>
  </div>
</section>
