

<div id="map"></div>

<section class="map_controls">
  <a href="#zoom_in" class="zoom_in">zoom in</a>
  <a href="#zoom_out" class="zoom_out">zoom out</a>
</section>

<section class="mamufas">
  <div class="info">
    <h1>Arce h1 magic text</h1>
    <p>Arce p magic text</p>
    <a href="#" class="login"></a>
    <a href="#" class="signout">Sign out</a>
  </div>
</section>