
<div id="map"></div>

<section class="map_controls">
  <a href="#zoom_in" class="zoom_in">zoom in</a>
  <a href="#zoom_out" class="zoom_out">zoom out</a>
</section>

<section class="tools">
  <div class="buttons">
    <a href="#draw" class="draw selected">Draw</a>
    <a href="#remove" class="remove">Remove</a>
    <a href="#signout" class="signout">Logout</a>
  </div>
</section>

<section class="tips">
  <ul>
    <li>Remove vertex with right-clicking on them.</li>
  </ul>
</section>

<section class="mamufas">
  <div class="info">
    <h1>Help us maping damaged areas</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec massa justo, tempus vitae hendrerit ac, ornare et velit. In aliquam posuere sapien in fringilla. Vestibulum rhoncus vulputate ipsum ac condimentum.</p>
    <a href="#login" class="login"></a>
  </div>
</section>
